<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>Age of Empires Defenders</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <fonts>
    <font file="fonts/open_sans/OpenSans-Bold.ttf" size="12"/>
    <font file="fonts/open_sans/OpenSans-Light.ttf" size="12"/>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>
  </fonts>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>
  
  <console>
  <!-- 
  relation command - number - description:
	CREATE_GOD ---	= 1, -----	Creates a GOD unit
	ADD_FOOD ------	= 2, -----	Adds 1000 food
	ADD_WOOD ------	= 3, -----	Adds 1000 wood
	ADD_GOLD ------	= 4, -----	Adds 1000 gold
	ADD_STONE -----	= 5, -----	Adds 1000 stone
	ADD_RESOURCES -	= 6, -----	Adds 1000 of every resource
  -->
	<command text="god" action="1"/>
	<command text="pepperoni pizza" action="2"/>
	<command text="woodstock" action="3"/>
	<command text="coinage" action="4"/>
	<command text="quarry" action="5"/>
	<command text="ayy lmao" action="6"/>
  </console>
    
  <window>
    <resolution width="1366" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  <input>
<!-- special keys are - escape, space, return(enter), tab, backspace, (arrows) left, right, up, down -->
<buttons move_up="w" move_down="s" move_left="a" move_right="d" build_tower="1" build_bombard_tower="2" build_walls="3" menu="escape" center_to_townhall="Space"/> 

  </input>
</config>